# Ignorar archivos generados por Visual Studio
.vscode/
.vs/
bin/
obj/
*.suo
*.user
*.sln.docstates

# Ignorar archivos de compilación y resultados
*.dll
*.exe
*.pdb
*.userprefs
*.bak
*.cache
*.log
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.scc
*.swp
*.sdf
*.vcxproj.filters
*.vcxproj.user
*.xcuserdata
*.xcworkspace
*.xcuserstate
*.unityproj
*.booproj
*.pidb
*.suo
*.sln.docstates
*.userprefs
*.dbmdl
*.VC.db
*.VC.VC.opendb
*.VC.VC.db-shm
*.VC.VC.db-wal

# Ignorar archivos de publicación
_PublishedWebsites/
pubxml
*.publishproj
